<h1>
    Sellers
    <button class="ui right floated green button" onclick="$('#modal_addSeller').modal('show');">New Seller</button>
</h1>

<table class="ui celled table">
    <thead>
        <tr>
            <th class="">Name</th>
            <th class="">Boxes Sold</th>
            <th class="">Boxes Out</th>
            <th class="">Email</th>
            <th class="three wide">Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each sellers}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.boxesSold}}</td>
            <td>{{this.boxesOut}}</td>
            <td>{{this.email}}</td>
            <td>
                <button onclick="$('#modal_{{this._id}}').modal('show');" class="ui yellow button">Edit</button>
                <button form="delete_{{this._id}}" class="ui red button" type="submit">Delete</button>
                <form action="/sellers/{{this._id}}?_method=DELETE" id="delete_{{this._id}}" method="post"></form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="modal_addSeller" class="ui modal">
    <div class="header">Add Seller</div>
    <div class="content">
        <form action="/sellers" method="POST" id="form_addSeller" class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="text" name="email" id="email">
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui right positive button" form="form_addSeller" type="submit">Add Seller</button>
    </div>
</div>

{{#each sellers}}
<div id="modal_{{this._id}}" class="ui modal">
    <div class="header">Update Seller</div>
    <div class="content">
        <form action="/sellers/{{this._id}}?_method=PUT" method="POST" id="form_{{this._id}}" class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" value="{{this.name}}" required id="name">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" value="{{this.email}}" required id="email">
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui right positive button" form="form_{{this._id}}" type="submit">Update Seller</button>
    </div>
</div>
{{/each}}
